/* $primary: #772582;
$primary-light: #f8f4f9;
$primary-medium: #781528; */

$green: #4de7b2;

$grey: #f2f2f2;
$grey-medium: #c8c8c8;
$grey-dark: #6e6e6e;

$text: #2c2c2c;
$link: #5cb2fc;
$link-medium: #0072a8;
$notification: #e81c1c;

$padding: 20px;

// Activity
$assign: #5F82EE;
$book: #1DA595;
$checklist: #D68100;
$choice: #4C99DC;
$data: #4ba379;
$fairallocation: #E76C56;
$resource : #6D4FD1;
$forum: #6CA126;
$folder: #ED47FF;
$glossary: #18A1B9;
$info: #5968ed;
$instruction: #8B8E6E;
$label: #9A7EF7;
$lecture: #81a36f;
$lti: #EA117E;
$page: #B68C20;
$questionnaire: #C45353;
$quiz: #7C96B6;
$reading: #B56515;
$scorm: #769C63;
$url: #dc6fa0;
$video: #FC4F94;

